*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    color: darkred;
}

html, body{
    width: 100%;
    height: 100%;
}

h1{
    padding: 20px 20px 20px 20px;
}

p{
    padding: 15px 15px 15px 15px;
}


body{
    background-color:antiquewhite;
}

#main{
    height: 100%;
    width: 100%;
    background-color: khaki;
    text-align: center;
    color: rgb(50, 0, 0);
}

#game{
    margin: auto;
    border-radius: 5%;
    display: flex;
    flex-wrap: wrap;
    width: 80vh;
    height: 70vh;
    text-align: center;
    background-color: hotpink;
    justify-content: center;
}



.btn{
  flex:30%;
  box-sizing: border-box;
  border: none;
  border-radius: 25px;
  height: 20%; 
  width: 20%;
  margin: 5px 5px 5px 5px;
  text-align: center;
  background-color: rgb(255, 203, 244);
}
#reset{
    border-radius: 25px;
    height: 10%; 
    width: 20%;
    margin: 5px 5px 5px 5px;
    text-align: center;
}

#new-game{ 
    border-radius: 25px;
    height: 10%; 
    width: 20%;
    margin: 5px 5px 5px 5px;
    text-align: center;}

.highlighter{
    font-size: large;
    font-weight: bold;
    text-decoration-color: brown;
    background-color: rgb(247, 35, 99);
}

#win-mgs{
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    #game{
        margin: auto;
        border-radius: 5%;
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        height: 70%;
        text-align: center;
        background-color: hotpink;
        justify-content: center;
    }
  }

